@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #202020;
  --primary: #eaa31a;
  --secondary: #fff;
  --accent: #e1e1e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --secondary: #2e2e2e;
    --primary: #b58423;
    --foreground: #c9c9c9;
    --accent: #424242;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
