@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --background-hsl: 0, 0%, 100%;
  --foreground: hsl(0, 0%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 9%, 11%);
    --background-hsl: 240, 9%, 11%;
    --foreground: hsl(0, 0%, 74%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
